<div class="row">
  <div class="twelve columns">
    <h1>Event Details</h1>
  </div>
</div>
<div class="row">
  <div class="eight columns push_two">
    <div class="row pad">
      <div class="twelve columns">
        <h2>Venue: <a href="http://www.github.com/" target="_blank">Cool Place</a></h2>
        Schedule for the day:
        <ul>
          <li>3:00 Ceremony Start - Outdoors if weather permits</li>
          <li>3:30 Cocktail Hour</li>
          <li>4:30 Reception</li>
        </ul>
        <br>
        <strong>Address:</strong> 1234 Fake Street, Middletown, CT 06123
      </div>
    </div>
    <div class="row pad">
      <div class="twelve columns maps" data-maps-iframe
           data-maps-location="1234 Fake Street, Middletown, CT 06123">
      </div>
    </div>
    <div class="row pad">
      <div class="twelve columns">
        <h2>Hotel: <a
            href="http://www.github.com">Homewood Suites</a></h2>
        We have a bunch of hotel rooms in a block.
        <br>
        <br>
        <strong>Address:</strong> 234 Fake Street, Middletown, CT 06123
      </div>
    </div>
    <div class="row pad">
      <div class="twelve columns maps" data-maps-iframe
           data-maps-location="234 Fake Street, Middletown, CT 06123">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <h1>Gift Registries</h1>
  </div>
</div>
<div class="row">
  <div class="eight columns push_two">
    <div class="row pad">
      <div class="twelve columns">
        <div>
          Bed Bath and Beyond:
          <a href="http://www.bedbathandbeyond.com/" target="_blank">
            <strong>Link</strong>
          </a>
        </div>
        <div>
          Amazon:
          <a href="http://smile.amazon.com/" target="_blank">
            <strong>Link</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<analytics-page-view></analytics-page-view>