<div class="row">
  <div class="twelve columns">
    <h1>Welcome!</h1>
  </div>
</div>
<div class="row">
  <div class="eight columns push_two">
    <div class="row pad">
      <div class="eight columns updates">
        <div>
          <h4>June 1<sup>st</sup>, 2014</h4>
          Update 1 with a link to a cool location
          <a href="http://www.github.com">
            <strong>Github</strong>
          </a>
        </div>
        <div>
          <h4>April 27<sup>th</sup>, 2014</h4>
          More Update! The <a href="/weddingparty"><strong>Wedding Party</strong></a> section is up. Enjoy
          the epic photos.
          Also, the hotel and some registry information is under <a href="/event"><strong>Event Details</strong></a>.
        </div>
      </div>
    </div>
  </div>
</div>
<analytics-page-view></analytics-page-view>