<div class="row">
  <div class="twelve columns">
    <h1>How We Met</h1>
  </div>
</div>
<div class="row">
  <div class="eight columns push_two">
    <div class="pad justify">
      Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
      andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
      jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.
    </div>
    <div class="center pad">
      <img class="rounded" data-ng-src="http://placehold.it/350x150">
      <h6>2026 - College Freshmen</h6>
    </div>
    <div class="pad justify">
      Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
      andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
      jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.
    </div>
    <div class="pad justify">
      Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
      andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
      jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.
      <i class="icon-heart"></i>
    </div>
    <div class="pad center">
      <h4><strong>A lot has changed</strong></h4>
      <img class="rounded" data-ng-src="http://placehold.it/350x150">
      <h6>2033 - Party</h6>
    </div>
  </div>
</div>
<analytics-page-view></analytics-page-view>
