<div class="row">
  <div class="twelve columns">
    <h1>Proposal</h1>
  </div>
</div>
<div class="row">
  <div class="eight columns push_two">
    <div class="row pad">
      <div class="columns twelve justify">
        Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
        andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
        jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.
      </div>
    </div>

    <div class="row pad">
      <div class="columns twelve justify">
        Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
        andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
        jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.
      </div>
    </div>
    <div class="row pad">
      <div class="columns twelve">
        <div class="row">
          <div class="columns seven">
            <img class="rounded" data-ng-src="http://placehold.it/350x150">
          </div>
          <div class="columns five justify">
            Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
            andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
            jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.
          </div>
        </div>
      </div>
    </div>
    <div class="row pad">
      <div class="columns seven justify">
        Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
        andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
        jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.
        <i class="icon-heart"></i>
      </div>
      <div class="columns five center">
        <img class="rounded" data-ng-src="http://placehold.it/350x150">
      </div>
    </div>

    <div class="row pad">
      <div class="columns twelve center">
        <img class="rounded" data-ng-src="http://placehold.it/350x150">
      </div>
    </div>
  </div>
</div>
<analytics-page-view></analytics-page-view>