<div class="row">
  <div class="twelve columns">
    <h1>Wedding Party</h1>
  </div>
</div>
<div class="row">
  <div class="eight columns push_two">
    <div class="row pad">
      <div class="twelve columns">
        <h4>Matron of Honor: Daryl</h4>

        <div class="row pad">
          <div class="four columns center">
            <img class="rounded" data-ng-src="http://placehold.it/350x150">
          </div>
          <div class="eight columns justify pad-resp">
            Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
            andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
            jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.          </div>
        </div>
      </div>
    </div>
    <div class="row pad">
      <div class="twelve columns">
        <h4>Bridesmaid: Amy</h4>

        <div class="row pad">
          <div class="four columns center">
            <img class="rounded" data-ng-src="http://placehold.it/350x150">
          </div>
          <div class="eight columns justify pad-resp">
            Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
            andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
            jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.          </div>
        </div>
      </div>
    </div>
    <div class="row pad">
      <div class="twelve columns">
        <h4>Bridesmaid: Courtney</h4>

        <div class="row pad">
          <div class="four columns center">
            <img class="rounded" data-ng-src="http://placehold.it/350x150">
          </div>
          <div class="eight columns justify pad-resp">
            Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
            andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
            jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.          </div>
        </div>
      </div>
    </div>
    <div class="row pad">
      <div class="twelve columns">
        <h4>Bridesmaid: Renee</h4>

        <div class="row pad">
          <div class="four columns center">
            <img class="rounded" data-ng-src="http://placehold.it/350x150">
          </div>
          <div class="eight columns justify pad-resp">
            Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
            andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
            jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.
          </div>
        </div>
      </div>
    </div>
    <div class="row pad">
      <div class="twelve columns">
        <h4>Best Man: Chris</h4>

        <div class="row pad">
          <div class="four columns center">
            <img class="rounded" data-ng-src="http://placehold.it/350x150">
          </div>
          <div class="eight columns justify pad-resp">
            Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
            andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
            jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.          </div>
        </div>
      </div>
    </div>
    <div class="row pad">
      <div class="twelve columns">
        <h4>Groomsman: John</h4>

        <div class="row pad">
          <div class="four columns center">
            <img class="rounded" data-ng-src="http://placehold.it/350x150">
          </div>
          <div class="eight columns justify pad-resp">
            Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
            andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
            jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.
          </div>
        </div>
      </div>
    </div>
    <div class="row pad">
      <div class="twelve columns">
        <h4>Groomsman: Jeff</h4>

        <div class="row pad">
          <div class="four columns center">
            <img class="rounded" data-ng-src="http://placehold.it/350x150">
          </div>
          <div class="eight columns justify pad-resp">
            Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
            andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
            jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.
          </div>
        </div>
      </div>
    </div>
    <div class="row pad">
      <div class="twelve columns">
        <h4>Groomsman: Alex</h4>

        <div class="row pad">
          <div class="four columns center">
            <img class="rounded" data-ng-src="http://placehold.it/350x150">
          </div>
          <div class="eight columns justify pad-resp">
            Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
            andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
            jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.
          </div>
        </div>
      </div>
    </div>
    <div class="row pad">
      <div class="twelve columns">
        <h4>Groomsman: Dan</h4>

        <div class="row pad">
          <div class="four columns center">
            <img class="rounded" data-ng-src="http://placehold.it/350x150">
          </div>
          <div class="eight columns justify pad-resp">
            Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
            andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
            jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.
          </div>
        </div>
      </div>
    </div>
    <div class="row pad">
      <div class="twelve columns">
        <h4>Ring Bearer: Zach</h4>

        <div class="row pad">
          <div class="four columns center">
            <img class="rounded" data-ng-src="http://placehold.it/350x150">
          </div>
          <div class="eight columns justify pad-resp">
            Bacon ipsum dolor amet meatloaf ground round tongue turkey spare ribs. T-bone meatloaf venison, short ribs pork
            andouille sausage. Doner kielbasa salami jowl frankfurter flank. Chicken pork belly pork chop kielbasa. Hamburger
            jerky ham hock cupim, frankfurter fatback kielbasa tail strip steak filet mignon.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<analytics-page-view></analytics-page-view>
